body {
    margin-left: 16%;
}
.main {
    background-color: aliceblue;
    text-align: center;
    font-size: 28px;
    width: 1050px;
    height: 800px;
    padding-top: 20px;
    border: 4px solid;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
} 

h1 {
    color: blue;
}

.nav {
    margin-left: 15px;
    margin-right: 15px;
}

.Bảng, td {
    border: 1px solid black;
    text-align: center;
    font-size: 42px;
    border-collapse: collapse;
}

.red {
    background-color: red;
}

.yellow {
    background-color: rgb(173, 173, 3);
}

.blue {
    background-color: blue;
}
.color {
    color: white;
    width: 130px;
    height: 54px;
}

td, th {
    text-align: center;
    width: 140px;
    height: 80px;
}

.color_red {
    color: red;
}

.color_blue {
    color: blue;
}

.min_size {
    font-size: 20px;
}