body {
    padding: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 20px;
    border: 1px solid black;
}

th, td {
    font-weight: 400;
}

th {
    font-size: 16px;
    background-color: #d61b06;
    color: white;
}

td {
    text-align: center;
    font-size: 12px;
}
